<h1 class="contact__header">Contact</h1>


<div class="contact__body">
    <h2 class="email__header">Email:</h2>
    <p><a href="mailto:alexlanesantiago@gmail.com" class="email">alexlanesantiago@gmail.com</a></p>

    <h2 class="phone__header">Phone:</h2>
    <p class="phone__number">(973)-997-8559</p>


</div>


<footer class="footer__con">
    &copy; <%= new Date().getFullYear(); %> Santiago - Built with NodeJS & MongoDB - 
    <a href="/img/Resume.pdf" target="_blank" class="resume-link">View My Resume</a>

</footer>