<div class="exp__header">
<h1>Experience</h1>
</div>

<div class="exp__body">
    <div class="exp1">
        <h3>Computer Programmer & Technician</h3>
        <h4>Freelance</h4>
        <p>January 2018 - Present</p>
        <p class="cpt__desc">• Founded a freelance business specializing in customized Java-based software
            solutions and computer hardware assembly for client-specific needs.
            <br>
            • Provided technical support and maintenance services for personalized computer
            setups, managing projects from troubleshooting to performance optimization.
            <br>
            • Developed and maintained client relationships, applying effective communication
            and problem-solving skills to deliver quality outcomes.</p>
    </div>
    <div class="exp2">
        <h3>Design Assistant</h3>
        <h4>NJFC</h4>
        <p>Summer 2024</p>
        <p class="da__desc">• Managed landscape design, installation, and maintenance projects, showcasing
            effective project management and organizational skills.
            <br>
            • Worked to ensure high standards of service, demonstrating reliability and attention
            to detail.
        </p>
    </div>
    <div class="exp3">
        <h3>Dasher</h3>
        <h4>Doordash</h4>
        <p>March 2023 - May 2024</p>
        <p class="dd__desc">• Completed customer-focused deliveries while maintaining a 5-star rating,
            emphasizing strong customer service and time management.
            <br>
            • Utilized route management and problem-solving skills to ensure timely and
            accurate deliveries, consistently meeting customer expectations.
        </p>
    </div>
</div>

<footer class="footer__exp">
    &copy; <%= new Date().getFullYear(); %> Santiago - Built with NodeJS & MongoDB - 
    <a href="/img/Resume.pdf" target="_blank" class="resume-link">View My Resume</a>

</footer>