<h1 class="projects__header">Projects</h1>


<footer class="footer__proj">
    &copy; <%= new Date().getFullYear(); %> Santiago - Built with NodeJS & MongoDB - 
    <a href="/img/resume.pdf" target="_blank" class="resume-link">View My Resume</a>

</footer>